
      <!-- jobs view -->
      <div class="well">
        <form class="form-inline text-right">
          <div class="form-group">
            <label class="sr-only" for="job_number">Job Number</label>
            <input type="text" ng-model="jobCtrl.job.job_number" class="form-control" id="job_number" placeholder="Job Number">
          </div>
          <div class="form-group">
            <label class="sr-only" for="alias"></label>
            <input type="text" ng-model="jobCtrl.job.alias" class="form-control" id="alias" placeholder="Alias">
          </div>
          <button type="submit" class="btn btn-default" ng-click="jobCtrl.autoplay()"><i class="glyphicon glyphicon-play"></i></button>
          <button type="button" class="btn btn-default" ng-click="jobCtrl.create()"><i class="glyphicon glyphicon-plus"></i></button>
        </form>
      </div>

      <!-- <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Open</a></li>
        <li role="presentation"><a href="#">Closed</a></li>
      </ul> -->

      <div class="panel-group" id="accordion">


        <!-- open job list -->
        <div class="panel panel-default" ng-repeat="job in jobCtrl.jobs">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                  <!-- <a href="#"><i class="glyphicon glyphicon-copy"></i></a> -->
                  <a data-toggle="collapse" data-parent="#accordion" ng-href="#{{job.job_number}}">{{jobCtrl.getTitle(job)}}</a>
              </div>
              <div class="col-md-6 col-xs-6 text-right">
                <span class="label label-default label-timer">{{job.time}}</span>
                <button type="button" name="copy" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-copy"></i></button>
                <button type="button" name="play" class="btn btn-default btn-sm" ng-hide="jobCtrl.isRunning(job)" ng-click="jobCtrl.play(job)"><i class="glyphicon glyphicon-play"></i></button>
                <button type="button" name="pause" class="btn btn-default btn-sm" ng-show="jobCtrl.isRunning(job)" ng-click="jobCtrl.pause(job)"><i class="glyphicon glyphicon-pause"></i></button>
                <button type="button" name="reset" class="btn btn-default btn-sm" ng-click="jobCtrl.reset(job)"><i class="glyphicon glyphicon-repeat"></i></button>
                <button type="button" name="edit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i></button>
                <button type="button" name="remove" class="btn btn-default btn-sm" ng-click="jobCtrl.remove(job)"><i class="glyphicon glyphicon-remove"></i></button>
              </div>
            </div>
          </div>
          <div id="{{job.job_number}}" class="panel-collapse collapse">
            <div class="panel-body">



              <!-- start time segs -->
              <div class="row">
                  <table class="table" ng-show="jobCtrl.hasSegs(job)">
                    <tr>
                      <th>Date</th>
                      <th>Time elapsed</th>
                      <th></th>
                    </tr>
                    <tr ng-repeat="time_seg in jobCtrl.job.time_segs">
                      <td>{{time_seg.start | date }}</td>
                      <td>{{time_seg.finish - time_seg.start}}</td>
                      <td class="text-right">
                        <button type="button" class="btn btn-default btn-sm" name="button"><i class="glyphicon glyphicon-unchecked"></i></button>
                        <button type="button" class="btn btn-default btn-sm" name="button"><i class="glyphicon glyphicon-trash"></i></button>
                        <button type="button" class="btn btn-default btn-sm" name="button"><i class="glyphicon glyphicon-copy"></i></button>
                      </td>
                    </tr>
                  </table>
                  <div class="col-md-offset-1 col-md-10">
                    <div class="alert alert-info" role="alert" ng-hide="jobCtrl.hasSegs(job)">There is no history.</div>
                  </div>
                </div>
              </div>
              <!-- end time segs -->
            </div>
          </div>
        </div>
        <!-- end open job list -->
      </div>
      <!-- end jobs view  -->
